<div class="row">
  <div class="col-md-3">
    <div class="sidenav bg-primary">
      <a href="#">Quotes</a>
      <hr>
      <a href="#quoteForm">Add Quote</a>
      <footer id="footer" class="page-footer bg-primary font-small blue">
        <div class="footer-copyright text-center py-3">© 2022 Copyright:
          <a href="https://inspiringquotes.com/"> Insquotes.com</a>
        </div>
      </footer>
    </div>
  </div>
  <div class="col-md-9">
    <div>
      <app-quote></app-quote>
    </div>
  </div>
</div>



