#author {
  color: black;
  font-family: 'Sofia', cursive;
}
#quote {
  background-color: #ff57bb;

}
#content {
  color: black;
}
.sidenav2 {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 80px;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
.card {
  max-height: 400px;
  max-width: 200px;
  padding: 25px;
}
