<div>
  <h1 apphighlight>Inspiring Quotes</h1>
  <hr>
      <div *ngFor="let quote of quotes;let i = index">
        <div class="row">
          <div class="col-md-3">
            <div id="quote" class="card text-white text-center">
              <blockquote>
                <p id="content">{{quote.content}}</p>
                <p>{{quote.createDate|date}}</p>
                <footer class="blockquote-footer">
                  <cite id="author">{{quote.author}}</cite>
                </footer>
              </blockquote>
            </div>
          </div>
          <div class="col-md-3">
            <div id="quote" class="card text-white text-center">
              <blockquote>
                <p id="content">{{quote.content}}</p>
                <footer class="blockquote-footer">
                  <cite id="author">{{quote.author}}</cite>
                </footer>
              </blockquote>
            </div>
          </div>
          <div class="col-md-3">
            <div id="quote" class="card text-white text-center">
              <blockquote>
                <p id="content">{{quote.content}}</p>
                <footer class="blockquote-footer">
                  <cite id="author">{{quote.author}}</cite>
                </footer>
              </blockquote>
            </div>
          </div>
          <div class="col-md-3">
            <div id="quote" class="card text-white text-center">
              <blockquote>
                <p id="content">{{quote.content}}</p>
                <footer class="blockquote-footer">
                  <cite id="author">{{quote.author}}</cite>
                </footer>
              </blockquote>
              <div id="votes button_div">
                <input type="button" value="up">{{quote.upvote}}
                <input type="button" value="down">{{quote.downvote}}
              </div>
            </div>
          </div>
        </div>

    </div>
    <div class="sidenav2">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
</div>
