<div class="card border-primary mb-3" id="quoteForm">
  <div class="card-header">Write a new Quote</div>
  <form ng-submit="submitQuote()">
      <div class="form-group">

          <label for="name">Name</label>
          <input type="text" required class="form-control" id="name">

      </div>
      <div class="form-group">

          <label for="quote">Quote</label>
          <textarea class="form-control" id="quote" rows="4" required></textarea>

      </div>
      <div class="form-group">
          <label for="author">Author</label>
          <input type='text' id="author" required class="form-control">

      </div>
      <div class="form-group">
        <label for="author">Date</label>
        <input type='date' id="date" required>
      </div>
      <div class="row">
        <div class="col text-center">
          <button type="submit" id="submit" class="btn btn-default">Add Quote</button>
        </div>
      </div>
  </form>
</div>
